@import '../../../util';

.accent-fill {
  fill: color(accent);
}

.light-fill {
  fill: color('gray-light');
}

svg.logo {
  height: 100%;
}

header {
  position: absolute;
  height: rem(61px);
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 rem(15px) color('shadow-light');
  background-color: color('gray-light-transparent');
  backdrop-filter: blur(20px) saturate(1.5);
  z-index: 100000;
}
