<div
class="link-node link-color-{{link.color}}"
(click)="onClick($event)"
[ngStyle]="{
  left: nodes[0].x + 'px',
  top: nodes[0].y + 'px',
  transition: applyTransition ? 'background-color .25s ease-in-out' : 'unset'
}">
</div>
<div
class="link-node link-color-{{link.color}}"
(click)="onClick($event)"
[ngStyle]="{
  left: nodes[1].x + 'px',
  top: nodes[1].y + 'px',
  transition: applyTransition ? 'background-color .25s ease-in-out' : 'unset'
}">
</div>
<div
class="link-line link-color-{{link.color}}"
(click)="onClick($event)"
[ngStyle]="{
  width: distance + 'px',
  left: nodes[0].x + 'px',
  top: nodes[0].y + 'px',
  transform: 'rotate(' + rotation + 'deg)',
  'margin-left': (leftShiftMultiplier * (2.5)) + 'px',
  'margin-top': (topShiftMultiplier * (2.5)) + 'px',
  transition: applyTransition ? 'background-color .25s ease-in-out' : 'unset'
}">
</div>
