<div
class="link-node link-node-dot link-color-{{link.color}}"
(click)="onClick($event)"
[ngStyle]="{
  left: nodes[0].x + 'px',
  top: nodes[0].y + 'px',
  transition: applyTransition ? 'background-color .25s ease-in-out' : 'unset'
}">
</div>
<div
class="link-node link-node-arrow link-color-{{link.color}}"
(click)="onClick($event)"
[ngStyle]="{
  left: nodes[1].x + 'px',
  top: nodes[1].y + 'px',
  transform: 'rotate(' + rotation + 'deg)',
  transition: applyTransition ? 'color .25s ease-in-out' : 'unset'
}">
  <fa-icon [icon]="faChevronRight" size="lg"></fa-icon>
</div>
<div
class="link-line link-color-{{link.color}}"
(click)="onClick($event)"
[ngStyle]="{
  width: distance + 'px',
  left: nodes[0].x + 'px',
  top: nodes[0].y + 'px',
  transform: 'rotate(' + rotation + 'deg)',
  'margin-left': (leftShiftMultiplier * (2.5)) + 'px',
  'margin-top': (topShiftMultiplier * (2.5)) + 'px',
  transition: applyTransition ? 'background-color .25s ease-in-out' : 'unset'
}">
  <div
  *ngIf="link.name"
  class="link-line-text link-color-{{link.color}}"
  [ngStyle]="{
    transform: 'rotate(' + -rotation + 'deg)',
    transition: applyTransition ? 'background-color .25s ease-in-out' : 'unset'
  }">{{ link.name }}</div>
</div>
