<div class="backblur"
[ngClass]="{ show: showModal }">
  <div *ngIf="currentModal?.type === ModalType.Spinner" class="loader"></div>
  <div *ngIf="currentModal?.type !== ModalType.Spinner" class="modal">
    <fa-icon
    (click)="onClose()"
    class="close-button"
    [fixedWidth]="true"
    size="lg"
    [icon]="faTimes">
    </fa-icon>
    <ng-template [ngIf]="currentModal?.type === ModalType.Help">
      <div class="modal-title">
        <div class="modal-title-text">Help</div>
      </div>
    </ng-template>
    <ng-template [ngIf]="currentModal?.type === ModalType.Pipeline">
      <div class="modal-title">
        <div class="modal-title-text">{{ currentModal.context ? 'Update' : 'New' }} Pipeline</div>
      </div>
      <form #pipelineForm="ngForm" (ngSubmit)="onFormSubmit(pipelineForm)">
        <input name="name" type="text" placeholder="Name" required [ngModel]="currentModal?.context?.name ?? ''">
        <textarea name="description" placeholder="Description" [ngModel]="currentModal?.context?.description ?? ''"></textarea>
        <div class="button-group button-group-50">
          <button class="button-secondary" type="button" (click)="onClose()">Cancel</button>
          <button class="button-primary" type="submit">{{ currentModal.context ? 'Update' : 'Create' }}</button>
        </div>
      </form>
    </ng-template>
    <ng-template [ngIf]="currentModal?.type === ModalType.Module">
      <div class="modal-title">
        <div class="modal-title-text">{{ currentModal.context ? 'Update' : 'New' }} Module</div>
      </div>
      <form #moduleForm="ngForm" (ngSubmit)="onFormSubmit(moduleForm)">
        <input name="name" type="text" placeholder="Name" required [ngModel]="currentModal?.context?.name ?? ''">
        <select name="type" required [ngModel]="currentModal?.context?.type ?? ''">
          <option value="" disabled selected>Type</option>
          <option *ngFor="let moduleTypeKey of ModuleTypeKeys; let index = index" [value]="moduleTypeKey">{{ ModuleTypeValues[index] }}</option>
        </select>
        <textarea name="description" placeholder="Description" [ngModel]="currentModal?.context?.description ?? ''"></textarea>
        <div class="button-group button-group-50">
          <button class="button-secondary" type="button" (click)="onClose()">Cancel</button>
          <button class="button-primary" type="submit">{{ currentModal.context ? 'Update' : 'Create' }}</button>
        </div>
      </form>
    </ng-template>
    <ng-template [ngIf]="currentModal?.type === ModalType.ModuleField">
      <div class="modal-title">
        <div class="modal-title-text">{{ currentModal.context ? 'Update' : 'New' }} Field</div>
      </div>
      <form #moduleFieldForm="ngForm" (ngSubmit)="onFormSubmit(moduleFieldForm)">
        <select name="operation" required [ngModel]="currentModal?.context?.operation ?? ''">
          <option value="" disabled selected>Operation</option>
          <option *ngFor="let moduleFieldOperationTypeKey of ModuleFieldOperationTypeKeys; let index = index" [value]="moduleFieldOperationTypeKey">{{ ModuleFieldOperationTypeValues[index] }}</option>
        </select>
        <input name="target" type="text" placeholder="Target" required [ngModel]="currentModal?.context?.target ?? ''">
        <select name="type" required [ngModel]="currentModal?.context?.type ?? ''">
          <option value="" disabled selected>Type</option>
          <option *ngFor="let moduleFieldTypeKey of ModuleFieldTypeKeys; let index = index" [value]="moduleFieldTypeKey">{{ ModuleFieldTypeValues[index] }}</option>
        </select>
        <label>
          <input name="conditional" type="checkbox" [ngModel]="currentModal?.context?.conditional ?? false">
          Conditional
        </label>
        <textarea name="description" placeholder="Description" [ngModel]="currentModal?.context?.description ?? ''"></textarea>
        <div class="button-group button-group-50">
          <button class="button-secondary" type="button" (click)="onClose()">Cancel</button>
          <button class="button-primary" type="submit">{{ currentModal.context ? 'Update' : 'Add' }}</button>
        </div>
      </form>
    </ng-template>
    <ng-template [ngIf]="currentModal?.type === ModalType.Confirmation">
      <div class="modal-title">
        <div class="modal-title-text">{{ currentModal.context.title }}</div>
      </div>
      <p>{{ currentModal.context.message }}</p>
      <div class="button-group button-group-50">
        <button class="button-secondary" type="button" (click)="onClose()">Cancel</button>
        <button class="button-danger" type="button" (click)="onConfirm()">Proceed</button>
      </div>
    </ng-template>
    <ng-template [ngIf]="currentModal?.type === ModalType.Prompt">
      <div class="modal-title">
        <div class="modal-title-text">{{ currentModal.context.title }}</div>
      </div>
      <p [ngClass]="{ 'modal-no-context-message': ! currentModal.context.message }">
        {{ currentModal.context.message ?? 'No description provided.' }}
      </p>
      <div class="button-group button-group-100">
        <button class="button-secondary" type="button" (click)="onClose()">Close</button>
      </div>
    </ng-template>
  </div>
</div>
