@import '../../../util';

.backblur {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200000;
  backdrop-filter: blur(20px) saturate(1.5);
  background-color: color('gray-lighter-transparent');
  opacity: 0;
  pointer-events: none;
  transition: opacity .25s ease-in-out, backdrop-filter .25s ease-in-out;

  &.show {
    opacity: 1;
    pointer-events: all;
    .modal,
    .modal * {
      transform: scale(1);
    }
  }
}

.modal {
  display: flex;
  width: rem(600px);
  max-height: calc(100vh - #{rem(30px)});
  flex-direction: column;
  border-radius: rem(5px);
  box-shadow: 0 0 rem(15px) color('shadow-light');
  background-color: color('gray-lighter');
  padding: rem(20px);
  transform: scale(0);

  &,
  & * {
    transition: all .25s ease-in-out;
  }

  &.modal-wide {
    width: rem(800px);
  }
}

.close-button {
  position: absolute;
  right: rem(20px);
  font-size: rem(18px);
  color: color('gray-dark');
  cursor: pointer;
  z-index: 1;

  &:hover {
    color: color('accent-red');
  }

}

.modal-title {
  width: 100%;
  padding-bottom: rem(10px);
  border-bottom: rem(3px) solid color('gray-light');

  .modal-title-text {
    width: 100%;
    padding-right: rem(40px);
    font-size: rem(20px);
    font-weight: bold;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: color(accent);
  }

}

form {
  display: flex;
  flex-direction: column;
  margin-top: rem(20px);

  & > *:not(:last-child) {
    margin-bottom: rem(10px);
  }

}

.button-group {
  display: flex;
  margin-top: rem(10px);
  flex-wrap: nowrap;

  & > *:not(:last-child) {
    margin-right: rem(10px);
  }

  & > * {
    flex-grow: 1;
  }

}

.button-group-50 > * {
  width: 50%;
}

.button-group-100 > * {
  width: 100%;
}

p.modal-no-context-message,
article.markdown {
  margin-top: rem(20px);
  margin-bottom: rem(10px);
}

p.modal-no-context-message {
  color: color('gray-dark');
}

textarea.with-descriptor {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.textarea-descriptor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: rem(5px) rem(10px);
  font-size: rem(12px);
  font-weight: bold;
  color: color('gray-darker');
  background-color: color('gray-medium');
  border-bottom-left-radius: rem(3px);
  border-bottom-right-radius: rem(3px);
  user-select: none;

  span {
    margin-left: rem(7px);
  }
}
