<div class="backblur"
[ngClass]="{ show: showModal }">
  <div class="modal">
    <fa-icon
    (click)="onClose()"
    class="close-button"
    [fixedWidth]="true"
    size="lg"
    [icon]="faTimes">
    </fa-icon>
    <ng-template [ngIf]="currentModal?.type === ModalType.Help">
      <div class="modal-title">
        <div class="modal-title-text">Help</div>
      </div>
    </ng-template>
    <ng-template [ngIf]="currentModal?.type === ModalType.NewPipeline">
      <div class="modal-title">
        <div class="modal-title-text">New Pipeline</div>
      </div>
      <form #newPipelineForm="ngForm" (ngSubmit)="onFormSubmit(newPipelineForm)">
        <input name="name" type="text" placeholder="Name" required ngModel>
        <textarea name="description" placeholder="Description" ngModel></textarea>
        <div class="button-group button-group-50">
          <button class="button-secondary" type="button" (click)="onClose()">Cancel</button>
          <button class="button-primary" type="submit">Create</button>
        </div>
      </form>
    </ng-template>
    <ng-template [ngIf]="currentModal?.type === ModalType.NewModule">
      <div class="modal-title">
        <div class="modal-title-text">New Module</div>
      </div>
      <form #newModuleForm="ngForm" (ngSubmit)="onFormSubmit(newModuleForm)">
        <input name="name" type="text" placeholder="Name" required ngModel>
        <select name="type" required ngModel>
          <option value="" disabled selected>Type</option>
          <option *ngFor="let moduleTypeKey of ModuleTypeKeys; let index = index" [value]="moduleTypeKey">{{ ModuleTypeValues[index] }}</option>
        </select>
        <textarea name="description" placeholder="Description" ngModel></textarea>
        <div class="button-group button-group-50">
          <button class="button-secondary" type="button" (click)="onClose()">Cancel</button>
          <button class="button-primary" type="submit">Create</button>
        </div>
      </form>
    </ng-template>
    <ng-template [ngIf]="currentModal?.type === ModalType.NewModuleField">
      <div class="modal-title">
        <div class="modal-title-text">New Field</div>
      </div>
      <form #newModuleFieldForm="ngForm" (ngSubmit)="onFormSubmit(newModuleFieldForm)">
        <select name="operation" required ngModel>
          <option value="" disabled selected>Operation</option>
          <option *ngFor="let moduleFieldOperationTypeKey of ModuleFieldOperationTypeKeys; let index = index" [value]="moduleFieldOperationTypeKey">{{ ModuleFieldOperationTypeValues[index] }}</option>
        </select>
        <input name="target" type="text" placeholder="Target" required ngModel>
        <select name="type" required ngModel>
          <option value="" disabled selected>Type</option>
          <option *ngFor="let moduleFieldTypeKey of ModuleFieldTypeKeys; let index = index" [value]="moduleFieldTypeKey">{{ ModuleFieldTypeValues[index] }}</option>
        </select>
        <label>
          <input name="conditional" type="checkbox" ngModel>
          Conditional
        </label>
        <textarea name="description" placeholder="Description" ngModel></textarea>
        <div class="button-group button-group-50">
          <button class="button-secondary" type="button" (click)="onClose()">Cancel</button>
          <button class="button-primary" type="submit">Add</button>
        </div>
      </form>
    </ng-template>
    <ng-template [ngIf]="currentModal?.type === ModalType.Confirmation">
      <div class="modal-title">
        <div class="modal-title-text">{{ currentModal.context.title }}</div>
      </div>
      <p>{{ currentModal.context.message }}</p>
      <div class="button-group button-group-50">
        <button class="button-secondary" type="button" (click)="onClose()">Cancel</button>
        <button class="button-danger" type="button" (click)="onConfirm()">Proceed</button>
      </div>
    </ng-template>
    <ng-template [ngIf]="currentModal?.type === ModalType.Prompt">
      <div class="modal-title">
        <div class="modal-title-text">{{ currentModal.context.title }}</div>
      </div>
      <p [ngClass]="{ 'modal-no-context-message': ! currentModal.context.message }">
        {{ currentModal.context.message ?? 'No description provided.' }}
      </p>
      <div class="button-group button-group-100">
        <button class="button-secondary" type="button" (click)="onClose()">Close</button>
      </div>
    </ng-template>
  </div>
</div>
