@import '../../../util';

:host {
  width: 100%;
  display: flex;
  background-color: color('gray-lighter');
  transition: transform .25s ease-in-out, box-shadow .25s ease-in-out;

  &:nth-of-type(even) {
    background-color: color('gray-light');
  }

  &:hover.erase-mode .module-field,
  &:hover.move-mode .module-field {
    color: color('gray-lighter');

    .field-type {
      background-color: transparent;
      border-color: color('gray-lighter');
    }

    fa-icon,
    .field-operation {
      color: color('gray-lighter');
    }

  }

  &:hover.erase-mode .module-field {
    background-color: color('accent-red');
  }

  &:hover.move-mode .module-field {
    background-color: color(accent);
  }

  &.stackable-moving-child {
    transform: translateY(-10px);
    box-shadow: 0 rem(10px) rem(15px) color(shadow);
    user-select: none;
    cursor: grabbing;
  }

}

.module-field {
  width: 100%;
  display: flex;
  align-items: center;
  padding: rem(7px) rem(12px);
  flex-wrap: nowrap;
  transition: background-color .25s ease-in-out, color .25s ease-in-out;

  .field-operation {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: rem(10px);
    min-width: rem(65px);
    transition: color .25s ease-in-out;

    &.field-operation-type-0 { color: color('accent-green'); }
    &.field-operation-type-1,
    &.field-operation-type-2,
    &.field-operation-type-3
    {
      color: color(accent);
    }
    &.field-operation-type-4 { color: color('accent-purple'); }
    &.field-operation-type-5 { color: color('accent-red'); }
    &.field-operation-type-6 { color: color('accent-orange'); }

  }

  .field-type {
    font-family: 'Roboto Mono', monospace;
    font-size: rem(14px);
    padding: rem(3px) rem(8px);
    border-radius: rem(3px);
    background-color: color('gray-medium');
    margin-right: rem(10px);
    min-width: rem(105px);
    text-align: center;
    border: rem(2px) solid transparent;
    transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
  }

  .field-target {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  fa-icon {
    font-size: rem(14px);
    color: color('accent-orange');
    margin-left: rem(10px);
    transition: color .25s ease-in-out;
  }

}
