<div class="toolbar"
[ngStyle]="{
  'pointer-events': ! toolbarEnabled ? 'none' : 'all'
}">
  <div class="toolbar-button"
  [ngClass]="{ selected: selectedTool === Tools.Select }"
  (click)="onSelectTool(Tools.Select)"
  (mouseenter)="onMouseEnter(t1)"
  (mouseleave)="onMouseLeave(t1)">
    <fa-icon [fixedWidth]="true" size="lg" [icon]="faMousePointer"></fa-icon>
  </div>
  <div class="toolbar-button"
  [ngClass]="{ selected: selectedTool === Tools.Insert }"
  (click)="onSelectTool(Tools.Insert)"
  (mouseenter)="onMouseEnter(t2)"
  (mouseleave)="onMouseLeave(t2)">
    <fa-icon [fixedWidth]="true" size="lg" [icon]="faPlus"></fa-icon>
  </div>
  <div class="toolbar-button"
  [ngClass]="{ selected: selectedTool === Tools.Edit }"
  (click)="onSelectTool(Tools.Edit)"
  (mouseenter)="onMouseEnter(t3)"
  (mouseleave)="onMouseLeave(t3)">
    <fa-icon [fixedWidth]="true" size="lg" [icon]="faPencilAlt"></fa-icon>
  </div>
  <div class="toolbar-button"
  [ngClass]="{ selected: selectedTool === Tools.Move }"
  (click)="onSelectTool(Tools.Move)"
  (mouseenter)="onMouseEnter(t4)"
  (mouseleave)="onMouseLeave(t4)">
    <fa-icon [fixedWidth]="true" size="lg" [icon]="faArrowsAlt"></fa-icon>
  </div>
  <div class="toolbar-button"
  [ngClass]="{ selected: selectedTool === Tools.Link }"
  (click)="onSelectTool(Tools.Link)"
  (mouseenter)="onMouseEnter(t5)"
  (mouseleave)="onMouseLeave(t5)">
    <fa-icon [fixedWidth]="true" size="lg" [icon]="faLink"></fa-icon>
  </div>
  <div class="toolbar-button"
  [ngClass]="{ selected: selectedTool === Tools.Erase }"
  (click)="onSelectTool(Tools.Erase)"
  (mouseenter)="onMouseEnter(t6)"
  (mouseleave)="onMouseLeave(t6)">
    <fa-icon [fixedWidth]="true" size="lg" [icon]="faEraser"></fa-icon>
  </div>
  <div class="toolbar-separator"></div>
  <div class="toolbar-button"
  (click)="onOpenProject()"
  (mouseenter)="onMouseEnter(t7)"
  (mouseleave)="onMouseLeave(t7)">
    <fa-icon [fixedWidth]="true" size="lg" [icon]="faFileDownload"></fa-icon>
  </div>
  <div class="toolbar-button"
  (click)="onSaveProject()"
  (mouseenter)="onMouseEnter(t8)"
  (mouseleave)="onMouseLeave(t8)">
    <fa-icon [fixedWidth]="true" size="lg" [icon]="faFileUpload"></fa-icon>
  </div>
  <div class="toolbar-button"
  (click)="onExportAsImage()"
  (mouseenter)="onMouseEnter(t9)"
  (mouseleave)="onMouseLeave(t9)">
    <fa-icon [fixedWidth]="true" size="lg" [icon]="faFileImage"></fa-icon>
  </div>
  <div class="toolbar-separator"></div>
  <div class="toolbar-button"
  (click)="onHelp()"
  (mouseenter)="onMouseEnter(t10)"
  (mouseleave)="onMouseLeave(t10)">
    <fa-icon [fixedWidth]="true" size="lg" [icon]="faQuestion"></fa-icon>
  </div>
  <div class="toolbar-button"
  (click)="onViewSource()"
  (mouseenter)="onMouseEnter(t11)"
  (mouseleave)="onMouseLeave(t11)">
    <fa-icon [fixedWidth]="true" size="lg" [icon]="faGithub"></fa-icon>
  </div>
</div>
<div class="tooltips">
  <div #t1 class="tooltip">
    <div class="tooltip-text">Select tool <span class="tooltip-text-small">s</span></div>
  </div>
  <div #t2 class="tooltip">
    <div class="tooltip-text">Insert tool <span class="tooltip-text-small">n</span></div>
  </div>
  <div #t3 class="tooltip">
    <div class="tooltip-text">Edit tool <span class="tooltip-text-small">t</span></div>
  </div>
  <div #t4 class="tooltip">
    <div class="tooltip-text">Move tool <span class="tooltip-text-small">m</span></div>
  </div>
  <div #t5 class="tooltip">
    <div class="tooltip-text">Link tool <span class="tooltip-text-small">l</span></div>
  </div>
  <div #t6 class="tooltip">
    <div class="tooltip-text">Erase tool <span class="tooltip-text-small">e</span></div>
  </div>
  <div class="tooltip-separator"></div>
  <div #t7 class="tooltip">
    <div class="tooltip-text">Open project <span class="tooltip-text-small">shift+o</span></div>
  </div>
  <div #t8 class="tooltip">
    <div class="tooltip-text">Save project <span class="tooltip-text-small">shift+s</span></div>
  </div>
  <div #t9 class="tooltip">
    <div class="tooltip-text">Export as image <span class="tooltip-text-small">shift+e</span></div>
  </div>
  <div class="tooltip-separator"></div>
  <div #t10 class="tooltip">
    <div class="tooltip-text">Help <span class="tooltip-text-small">shift+h</span></div>
  </div>
  <div #t11 class="tooltip">
    <div class="tooltip-text">View source</div>
  </div>
</div>
