<div
id="canvas"
class="canvas"
(click)="onCanvasClick($event)"
[ngClass]="{
  grab: canvasMoveMode && ! canvasMoving,
  grabbing: canvasMoveMode && canvasMoving
}"
[ngStyle]="{
  top: canvasTop + 'px',
  left: canvasLeft + 'px',
  width: 'calc(100% + ' + canvasWidthAddition + 'px)',
  height: 'calc(100% + ' + canvasHeightAddition + 'px)'
}">
  <app-pipeline
  *ngFor="let pipeline of data; let index = index"
  [pipelineData]="pipeline"
  [pipelineIndex]="index"
  [pipelineStackMovable]="selectedTool === Tools.Move && ! canvasMoveMode && ! moduleFieldHovered && ! pipelineMoving"
  (click)="onPipelineClick($event, index)"
  (dblclick)="onPipelineDoubleClick($event, index)"
  (onstackmovestart)="onPipelineStackMoveStart()"
  (onstackmoveend)="onPipelineStackMoveEnd()"
  [ngClass]="{
    grab: canvasMoveMode && ! canvasMoving,
    grabbing: canvasMoveMode && canvasMoving,
    'insert-mode': selectedTool === Tools.Insert && ! canvasMoveMode && ! moduleHovered,
    'erase-mode': selectedTool === Tools.Erase && ! canvasMoveMode && ! moduleHovered,
    'move-mode': selectedTool === Tools.Move && ! canvasMoveMode && ! moduleHovered,
    'edit-mode': selectedTool === Tools.Edit && ! canvasMoveMode && ! moduleHovered,
    'selected': selectedTool === Tools.Select && ! canvasMoveMode && isSelected(index)
  }"
  [ngStyle]="{
    left: pipeline.position.left + 'px',
    top: pipeline.position.top + 'px'
  }"
  [appMovable]="! canvasMoveMode && selectedTool === Tools.Move && ! pipelineStackMoving && ! moduleStackMoving"
  (onmovementstart)="onElementMovementStart()"
  (onmovementend)="onElementMovementEnd($event, index)">
    <app-module
    *ngFor="let module of pipeline.modules; let mindex = index"
    [moduleData]="module"
    [pipelineIndex]="index"
    [moduleIndex]="mindex"
    [moduleStackMovable]="selectedTool === Tools.Move && ! canvasMoveMode && moduleFieldHovered && ! pipelineMoving"
    [ngClass]="{
      'insert-mode': selectedTool === Tools.Insert && ! canvasMoveMode && moduleHovered,
      'erase-mode': selectedTool === Tools.Erase && ! canvasMoveMode && moduleHovered && ! moduleFieldHovered,
      'edit-mode': selectedTool === Tools.Edit && ! canvasMoveMode && moduleHovered && ! moduleFieldHovered,
      'move-mode': (selectedTool === Tools.Move && ! canvasMoveMode && moduleHovered && ! moduleFieldHovered && ! pipelineMoving),
      'selected': (selectedTool === Tools.Select && ! canvasMoveMode && isSelected(index, mindex))
    }"
    (onstackmovestart)="onModuleStackMoveStart()"
    (onstackmoveend)="onModuleStackMoveEnd()"
    (mousemove)="onModuleMouseHover()"
    (mouseleave)="onModuleMouseLeave()"
    (click)="onModuleClick($event, index, mindex)"
    (dblclick)="onModuleDoubleClick($event, index, mindex)">
      <app-module-field
      *ngFor="let field of module.fields; let findex = index"
      [moduleFieldData]="field"
      (click)="onModuleFieldClick($event, index, mindex, findex)"
      (dblclick)="onModuleFieldDoubleClick($event, index, mindex, findex)"
      (mousemove)="onModuleFieldMouseHover()"
      (mouseleave)="onModuleFieldMouseLeave()"
      [ngClass]="{
        'erase-mode': selectedTool === Tools.Erase && ! canvasMoveMode && moduleFieldHovered,
        'edit-mode': selectedTool === Tools.Edit && ! canvasMoveMode && moduleFieldHovered,
        'move-mode': selectedTool === Tools.Move && ! canvasMoveMode && moduleFieldHovered && ! pipelineMoving,
        'selected': selectedTool === Tools.Select && ! canvasMoveMode && isSelected(index, mindex, findex)
      }">
      </app-module-field>
    </app-module>
  </app-pipeline>
</div>
