<div
id="canvas"
class="canvas"
(click)="onCanvasClick($event)"
[ngClass]="{
  grab: canvasMoveMode && ! canvasMoving,
  grabbing: canvasMoveMode && canvasMoving,
  insert: selectedTool === Tools.Insert && ! canvasMoveMode
}"
[ngStyle]="{
  top: canvasTop + 'px',
  left: canvasLeft + 'px',
  width: 'calc(100% + ' + canvasWidthAddition + 'px)',
  height: 'calc(100% + ' + canvasHeightAddition + 'px)'
}">
  <app-pipeline
  *ngFor="let pipeline of data; let index = index"
  [pipelineData]="pipeline"
  [ngStyle]="{
    left: pipeline.position.left + 'px',
    top: pipeline.position.top + 'px'
  }"
  [appMovable]="! canvasMoveMode && selectedTool === Tools.Move"
  (onmovementstart)="onElementMovementStart()"
  (onmovementend)="onElementMovementEnd($event, index)">

  </app-pipeline>
</div>
