@import '../../../util';

:host {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  padding-top: rem(61px);
}

.canvas {
  position: relative;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;

  &.insert-mode {
    cursor: pointer;
  }

  & > * {
    position: absolute;
  }

  &.smooth {
    transition: left .25s ease-in-out, top .25s ease-in-out;
  }

}
