<div
class="canvas"
[ngClass]="{
  grab: canvasMoveMode && ! canvasMoving,
  grabbing: canvasMoveMode && canvasMoving
}"
[ngStyle]="{
  top: canvasTop + 'px',
  left: canvasLeft + 'px',
  width: 'calc(100% + ' + canvasWidthAddition + 'px)',
  height: 'calc(100% + ' + canvasHeightAddition + 'px)'
}">
  <div style="width: 90px; height: 90px; background: red; left: 90px; top: 90px;"
  [appMovable]="! canvasMoveMode"
  (onmovementstart)="onElementMovementStart()"
  (onmovementend)="onElementMovementEnd()">
  </div>
  <div style="width: 90px; height: 90px; background: blue; left: 180px; top: 180px;"
  [appMovable]="! canvasMoveMode"
  (onmovementstart)="onElementMovementStart()"
  (onmovementend)="onElementMovementEnd()">
  </div>
</div>
