$palette: (
  accent: #009DFF,
  'accent-dark': #028ce2,
  'accent-pink': #F440A1,
  'accent-red': #FF5858,
  'accent-red-dark': #ec5353,
  'accent-green': #73ED99,
  'accent-purple': #BF5CDD,
  'accent-orange': #FFAA00,
  'gray-darker': #4F5152,
  'gray-dark': #d9e0e2,
  'gray-medium-darker': #e1e8ea,
  'gray-medium': #E7EDEF,
  'gray-light': #F0F4F7,
  'gray-lighter': white,
  'gray-light-transparent': #ffffffd4,
  'gray-lighter-transparent': #ffffff80,
  shadow: rgba(0, 0, 0, .25),
  'shadow-light': rgba(0, 0, 0, .10)
);
