$palette: (
  accent: #009DFF,
  'accent-pink': #F440A1,
  'accent-red': #FF5858,
  'gray-darker': #4F5152,
  'gray-dark': #E7EDEF,
  'gray-medium': #F0F4F7,
  'gray-light': white,
  'gray-light-transparent': #ffffffd4,
  'gray-lighter-transparent': #ffffff80,
  shadow: rgba(0, 0, 0, .16),
  'shadow-light': rgba(0, 0, 0, .10)
);
