@import 'util';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import 'spinner';
@import '../node_modules/highlight.js/scss/atom-one-light';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  background-color: color('gray-lighter');
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.grab { cursor: grab !important; }
.grabbing { cursor: grabbing !important; }

input[type="text"] {
  height: rem(30px);
  padding: rem(5px);
  outline: none;
  border-radius: rem(3px);
  border: rem(2px) solid color('gray-medium');
  font-size: rem(14px);
  color: color('gray-darker');
  font-family: 'Roboto', sans-serif;
  transition: border-color .25s ease-in-out;

  &::placeholder {
    color: color('gray-dark');
  }

  &:focus {
    border-color: color(accent);
  }

}

textarea {
  min-height: rem(100px);
  max-height: rem(200px);
  padding: rem(5px);
  outline: none;
  border-radius: rem(3px);
  border: rem(2px) solid color('gray-medium');
  font-size: rem(14px);
  color: color('gray-darker');
  resize: vertical;
  transition: border-color .25s ease-in-out;
  font-family: 'Roboto', sans-serif;

  &::placeholder {
    color: color('gray-dark');
  }

  &:focus {
    border-color: color(accent);
  }

}

select {
  appearance: none;
  height: rem(30px);
  padding: rem(5px);
  outline: none;
  border-radius: rem(3px);
  border: rem(2px) solid color('gray-medium');
  font-size: rem(14px);
  color: color('gray-darker');
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: border-color .25s ease-in-out;

  option {
    color: color('gray-darker');
  }

  option:disabled {
    color: color('gray-medium');
  }

  &:focus {
    border-color: color(accent);
  }

  &.ng-invalid {
    color: color('gray-dark');
  }

}

input[type="text"],
input[type="checkbox"],
textarea,
select {

  &.ng-invalid.ng-touched {
    border-color: color('accent-red');
  }

}

label {
  height: rem(30px);
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: rem(10px);
  appearance: none;
  height: rem(16px);
  width: rem(16px);
  border-radius: rem(3px);
  background-color: color('gray-lighter');
  border: rem(2px) solid color('gray-medium');
  cursor: pointer;
  transition: border-color .25s ease-in-out;

  &:checked::after {
    content: "";
    display: block;
    width: rem(10px);
    height: rem(10px);
    background-color: color(accent);
    border-radius: rem(2px);
  }

}

button {
  height: rem(40px);
  outline: none;
  border: none;
  border-radius: rem(3px);
  text-transform: uppercase;
  font-size: rem(16px);
  font-weight: normal;
  margin-bottom: rem(5px);
  cursor: pointer;
  transition: box-shadow .25s ease-in-out, transform .25s ease-in-out;

  &:active {
    transform: translateY(5px) !important;
  }

  &.button-primary {
    background-color: color(accent);
    box-shadow: 0 rem(5px) 0 color('accent-dark');
    color: color('gray-lighter');

    &:active {
      box-shadow: 0 0 0 color('accent-dark');
    }

  }

  &.button-secondary {
    background-color: color('gray-medium');
    box-shadow: 0 rem(5px) 0 color('gray-dark');
    color: color('gray-darker');

    &:active {
      box-shadow: 0 0 0 color('gray-dark');
    }

  }

  &.button-danger {
    background-color: color('accent-red');
    box-shadow: 0 rem(5px) 0 color('accent-red-dark');
    color: color('gray-lighter');

    &:active {
      box-shadow: 0 0 0 color('accent-red-dark');
    }

  }

}

.field-target span.variable {
  color: color('accent-pink');
  font-weight: bold;
  transition: color .25s ease-in-out;
}

app-module-field:hover.erase-mode,
app-module-field:hover.move-mode,
app-module-field:hover.insert-mode,
app-module-field:hover.edit-mode,
*.selected {

  .indicator-dot {
    background: color('gray-lighter');
  }

}

.indicator-dot {
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  height: rem(12px);
  width: rem(12px);
  margin-left: rem(10px);
  border-radius: 50%;
  transition: background .25s ease-in-out;

  &.info { background: color(accent); }
  &.conditional { background: color('accent-orange'); }
  &.always-white { background: color('gray-lighter'); }

}

app-module-field.erase-mode:hover,
app-module-field.move-mode:hover,
app-module-field.edit-mode:hover,
app-module-field.selected {
  .field-target span.variable {
    color: color('gray-lighter');
  }
}

.toolbar-button {
  display: flex;
  min-height: rem(30px);
  min-width: rem(30px);
  font-size: rem(18px);
  justify-content: center;
  align-items: center;
  color: color('gray-darker');
  transition: color .15s ease-in-out;
  cursor: pointer;

  &.selected {
    color: color(accent);
  }

  &:hover:not(.selected) {
    color: color(accent);
  }
}

article.markdown {
  overflow-y: auto;
  overflow-x: hidden;

  & > :first-child { margin-top: 0; }
  & > :last-child { margin-bottom: 0; }

  a,
  a:visited,
  a:active {
    color: color('accent');
    text-decoration: none;
  }

  a:hover { text-decoration: underline; }

  h1 { font-size: rem(24px); }
  h2 { font-size: rem(22px); }
  h3 { font-size: rem(20px); }
  h4 { font-size: rem(18px); }
  h5 { font-size: rem(16px); }
  h6 {
    font-size: rem(14px);
    color: color('gray-dark');
  }

  h1, h2 {
    padding-bottom: rem(5px);
    border-bottom: rem(2px) solid color('gray-light');
  }

  hr {
    border: none;
    height: rem(2px);
    background-color: color('gray-light');
  }

  ul, ol { padding-inline-start: rem(30px); }

  :not(pre) code {
    font-family: 'Roboto Mono', monospace;
    font-size: rem(14px);
    padding: rem(1px) rem(5px);
    border-radius: rem(3px);
    background-color: color('gray-light');
  }

  pre {
    font-family: 'Roboto Mono', monospace;
    font-size: rem(14px);
    border-radius: rem(3px);
    background-color: color('gray-light');

    code {
      padding: rem(15px);
      border-radius: rem(3px);
    }
  }

  blockquote {
    margin: 0;
    padding: rem(15px);
    padding-left: rem(25px);
    background-color: color('gray-light');
    border-radius: rem(3px);
    border-left: rem(5px) solid color('accent');

    & > p { margin: 0; }
  }

  table {
    width: 100%;
    border-spacing: 0;

    tbody tr:nth-child(even) {
      background-color: color('gray-light');

      :not(pre) code {
        background-color: color('gray-lighter');
      }
    }

    td, th {
      padding: rem(10px);
    }

    th {
      font-weight: bold;
      border-bottom: rem(2px) solid color('gray-light');
    }

    td:first-child {
      border-top-left-radius: rem(3px);
      border-bottom-left-radius: rem(3px);
    }

    td:last-child {
      border-top-right-radius: rem(3px);
      border-bottom-right-radius: rem(3px);
    }
  }

}
