@import 'util';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  background-color: color('gray-lighter');
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.grab { cursor: grab !important; }
.grabbing { cursor: grabbing !important; }

input[type="text"] {
  height: rem(30px);
  padding: rem(5px);
  outline: none;
  border-radius: rem(3px);
  border: rem(2px) solid color('gray-medium');
  font-size: rem(14px);
  color: color('gray-darker');
  font-family: 'Roboto', sans-serif;

  &::placeholder {
    color: color('gray-dark');
  }

  &:focus {
    border-color: color(accent);
  }

}

textarea {
  min-height: rem(90px);
  padding: rem(5px);
  outline: none;
  border-radius: rem(3px);
  border: rem(2px) solid color('gray-medium');
  font-size: rem(14px);
  color: color('gray-darker');
  resize: none;
  font-family: 'Roboto', sans-serif;

  &::placeholder {
    color: color('gray-dark');
  }

  &:focus {
    border-color: color(accent);
  }

}

select {
  appearance: none;
  height: rem(30px);
  padding: rem(5px);
  outline: none;
  border-radius: rem(3px);
  border: rem(2px) solid color('gray-medium');
  font-size: rem(14px);
  color: color('gray-darker');
  font-family: 'Roboto', sans-serif;
  cursor: pointer;

  &:focus {
    border-color: color(accent);
  }

  &.ng-invalid {
    color: color('gray-dark');
  }

}

input[type="text"],
input[type="checkbox"],
textarea,
select {

  &.ng-invalid.ng-touched {
    border-color: color('accent-red');
  }

}

label {
  height: rem(30px);
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: rem(10px);
  appearance: none;
  height: rem(16px);
  width: rem(16px);
  border-radius: rem(3px);
  background-color: color('gray-lighter');
  border: rem(2px) solid color('gray-medium');
  cursor: pointer;

  &:checked::after {
    content: "";
    display: block;
    width: rem(10px);
    height: rem(10px);
    background-color: color(accent);
    border-radius: rem(2px);
  }

}

button {
  height: rem(40px);
  outline: none;
  border: none;
  border-radius: rem(3px);
  text-transform: uppercase;
  font-size: rem(16px);
  font-weight: normal;
  margin-bottom: rem(5px);
  cursor: pointer;
  transition: box-shadow .25s ease-in-out, transform .25s ease-in-out;

  &:active {
    transform: translateY(5px) !important;
  }

  &.button-primary {
    background-color: color(accent);
    box-shadow: 0 rem(5px) 0 color('accent-dark');
    color: color('gray-lighter');

    &:active {
      box-shadow: 0 0 0 color('accent-dark');
    }

  }

  &.button-secondary {
    background-color: color('gray-medium');
    box-shadow: 0 rem(5px) 0 color('gray-dark');
    color: color('gray-darker');

    &:active {
      box-shadow: 0 0 0 color('gray-dark');
    }

  }

  &.button-danger {
    background-color: color('accent-red');
    box-shadow: 0 rem(5px) 0 color('accent-red-dark');
    color: color('gray-lighter');

    &:active {
      box-shadow: 0 0 0 color('accent-red-dark');
    }

  }

}

.field-target span.variable {
  color: color('accent-pink');
  font-weight: bold;
  transition: color .25s ease-in-out;
}

app-module-field.erase-mode:hover,
app-module-field.move-mode:hover,
app-module-field.selected {
  .field-target span.variable {
    color: color('gray-lighter');
  }
}
