@import '../../../util';

.scale-percentage {
  display: flex;
  position: absolute;
  z-index: 100000;
  border-radius: rem(5px);
  box-shadow: 0 0 rem(15px) color('shadow-light');
  background-color: color('gray-light-transparent');
  backdrop-filter: blur(20px) saturate(1.5);
  padding: rem(10px) rem(15px);
  margin-top: rem(91px);
  right: rem(15px);
  font-size: rem(14px);
  user-select: none;
  cursor: pointer;
}
