<div class="module">
  <div class="module-header module-type-{{data.type}}">
    <span class="module-header-text">{{ data.name }}<span class="module-type">.{{ ModuleType[data.type] | lowercase }}</span>
    </span>
    <span
    *ngIf="data.description"
    class="indicator-dot always-white info">
    </span>
  </div>
  <div class="module-stack"
  [appStackable]="movable"
  [currentScale]="currentScale"
  (onmovestart)="onStackMoveStart()"
  (onmoveend)="onStackMoveEnd($event)">
    <ng-content></ng-content>
  </div>
</div>
