@import '../../../util';

:host {
  width: 100%;
  margin-top: rem(20px);
  transition: transform .25s ease-in-out, box-shadow .25s ease-in-out;

  &:hover.insert-mode .module {
    border-color: color('accent-green');
  }

  &:hover.insert-mode .module-header {
    background-color: color('accent-green');
  }

  &:hover.erase-mode .module {
    border-color: color('accent-red');
  }

  &:hover.erase-mode .module-header {
    background-color: color('accent-red');
  }

  &:hover.move-mode .module {
    border-color: color(accent);
  }

  &:hover.move-mode .module-header {
    background-color: color(accent);
  }

  &.stackable-moving-child {
    border-radius: rem(5px);
    transform: translateY(-10px);
    box-shadow: 0 rem(10px) rem(15px) color(shadow);
    user-select: none;
    cursor: grabbing;
  }

}

.module {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: rem(5px);
  overflow: hidden;
  border: rem(3px) solid color('gray-medium-darker');
  transition: border-color .25s ease-in-out;
}

.module-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: rem(50px);
  color: color('gray-lighter');
  font-weight: bold;
  transition: background-color .25s ease-in-out;

  &.module-type-0 { background-color: color('accent-green'); }
  &.module-type-1 { background-color: color('accent'); }
  &.module-type-2 { background-color: color('accent-purple'); }
  &.module-type-3 { background-color: color('accent-orange'); }

}

.module-stack {
  display: flex;
  flex-direction: column;
  width: 100%;
}
