@import '../../../util';

:host {
  width: 100%;
  margin-top: rem(30px);
  transition: transform .25s ease-in-out, box-shadow .25s ease-in-out;

  &:hover.insert-mode .module {
    border-color: color('accent-green');
    cursor: pointer;
  }

  &:hover.insert-mode .module-header {
    background-color: color('accent-green');
    border-color: color('accent-green-dark');
  }

  &:hover.edit-mode .module {
    border-color: color('accent-orange');
    cursor: pointer;
  }

  &:hover.edit-mode .module-header {
    background-color: color('accent-orange');
    border-color: color('accent-orange-dark');
  }

  &:hover.erase-mode .module {
    border-color: color('accent-red');
    cursor: pointer;
  }

  &:hover.erase-mode .module-header {
    background-color: color('accent-red');
    border-color: color('accent-red-dark');
  }

  &:hover.move-mode .module,
  &.selected .module {
    border-color: color(accent);
  }

  &.link-mode {
    pointer-events: none !important;
  }

  &:hover.move-mode .module-header,
  &.selected .module-header {
    background-color: color(accent);
    border-color: color('accent-dark');
  }

  &.stackable-moving-child {
    border-radius: rem(5px);
    transform: translateY(-5px);
    box-shadow: 0 rem(5px) rem(15px) color(shadow);
    user-select: none;
    cursor: grabbing;
  }

}

.module {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: rem(5px);
  overflow: hidden;
  border: rem(3px) solid color('gray-medium-darker');
  transition: border-color .25s ease-in-out;
}

.module-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: rem(60px);
  padding: 0 rem(12px);
  color: color('gray-lighter');
  font-weight: bold;
  font-size: rem(18px);
  transition: background-color .25s ease-in-out, border-color .25s ease-in-out;

  &.module-type-0 {
    background-color: color('accent-green');
    border-bottom: rem(3px) solid color('accent-green-dark');
  }
  &.module-type-1 {
    background-color: color('accent');
    border-bottom: rem(3px) solid color('accent-dark');
  }
  &.module-type-2 {
    background-color: color('accent-purple');
    border-bottom: rem(3px) solid color('accent-purple-dark');
  }
  &.module-type-3 {
    background-color: color('accent-orange');
    border-bottom: rem(3px) solid color('accent-orange-dark');
  }

  .module-header-text {
    width: 100%;
    text-align: center;

    .module-type {
      opacity: .5;
    }
  }

}

.module-stack {
  display: flex;
  flex-direction: column;
  width: 100%;
}
