@import '../../../util';

:host {
  width: 100%;

  &:hover.insert-mode .module {
    border-color: color('accent-green');
  }

  &:hover.insert-mode .module-header {
    background-color: color('accent-green');
  }

}

.module {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: rem(5px);
  overflow: hidden;
  margin-top: rem(20px);
  border: rem(3px) solid color('gray-medium');
  transition: border-color .25s ease-in-out;
}

.module-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: rem(50px);
  color: color('gray-lighter');
  font-weight: bold;
  transition: background-color .25s ease-in-out;

  &.module-type-0 { background-color: color('accent-green'); }
  &.module-type-1 { background-color: color('accent'); }
  &.module-type-2 { background-color: color('accent-purple'); }
  &.module-type-3 { background-color: color('accent-orange'); }

}
